@page "/"
@page "/QuindiciGame"

<h1 class="text-center">Il gioco del Quindici</h1>
<h3 class="text-center">Fifteen Puzzle</h3>
<h4 class="text-center">by Andrea Piscitelli</h4>
<br />

@if (tiles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="fifteenpuzzle mt-0 pt-0 mb-0">
        <tbody>
            @for (int riga = 0; riga < 4; riga++)
            {
                <tr class="fifteenpuzzle">
                    @for (int column = 0; column < 4; column++)
                    {
                        tile = tiles.Where(n => n.Row == riga && n.Column == column).FirstOrDefault();
                        int indexR = tile.Row;
                        int indexC = tile.Column;
                        string sfondo = tile.backgroundColor;
                        <td class="fifteenpuzzle @sfondo" @onclick="() => ClickTile(indexR, indexC)">
                            @tile.Number
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    @if (ElapsedTime.TotalSeconds > 0)
    {
        <h2 class="text-center">@ElapsedTime</h2>
    }

    if (Tiles.Done)
    {
        <div class="text-center mt-1 pt-1">
            <h3>Well Done!</h3>
            <span class="oi oi-reload btn btn-dark btn-lg bigButton darkBackground pointer" aria-hidden="true" @onclick="() => Restart()"></span>
        </div>
    }
}
